<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div>
        <a href="/dndapp" class="link">Home</a>
        <p>Quale oracolo vuoi consultare?</p>
        <label for="likelihood">Enter likelihood:</label>
        <input type="number" id="likelihood" name="likelihood" min="-10" max="10" form="oracleForm">

        <ul>
            <li>
                <form id="oracleForm" action="{% url 'oracolo_base' %}?likelihood=likelihood" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="likelihood" id="likelihoodInput">
                    <button type="submit" class="btn btn-primary"
                        onclick="document.getElementById('likelihoodInput').value = document.getElementById('likelihood').value;">Oracolo
                        base</button>
                </form>
            </li>
            <li>
                <form action="{% url 'oracolo_migliorato' %}?likelihood=likelihood" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="likelihood" id="likelihoodInput2">
                    <button type="submit" class="btn btn-primary"
                        onclick="document.getElementById('likelihoodInput2').value = document.getElementById('likelihood').value;">Oracolo
                        migliorato</button>
                </form>
            </li>
            <li>
                <form action="{% url 'oracolo_alternativo' %}?likelihood=likelihood" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="likelihood" id="likelihoodInput3">
                    <button type="submit" class="btn btn-primary"
                        onclick="document.getElementById('likelihoodInput3').value = document.getElementById('likelihood').value;">Oracolo
                        alternativo</button>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>

</html>