<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div>
        <a href="/dndapp" class="link">Home</a>
        <p>Which oracle do you want to consult?</p>
        <form id="oracleForm" action="{% url 'consult_oracle' %}" method="post">
            {% csrf_token %}
            <label for="likelihood">Enter likelihood:</label>
            <input type="number" id="likelihood" name="likelihood" min="-10" max="10" value="0" form="oracleForm">
            <p>
                <label for="oracle_type">Choose Oracle:</label>
                <select name="oracle_type">
                    <option value="base">Base Oracle</option>
                    <option value="improved">Improved Oracle</option>
                    <option value="alternate">Alternate Oracle</option>
                </select>
            </p>
            <button type="submit" class="btn btn-primary">Consult Oracle</button>
        </form>
        {% if result %}
        <p>Result: {{result}}</p>
        {% endif %}
        </div>
    </div>
</div>
</body>

</html>